---
http_interactions:
- request:
    method: get
    uri: http://hypem.com/playlist/blog/1/json/1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      x-hacker:
      - Hey, if you're reading this, you should drop us an email at hypem.com/contact,
        maybe we can work together!
    body:
      encoding: ASCII-8BIT
      string: ! '{"version":"1.1","0":{"mediaid":"1jems","artist":"Slowdim","title":"Money","dateposted":1332155325,"siteid":1,"sitename":"Music
        ( for robots)","posturl":"http:\/\/music.for-robots.com\/?p=3188","postid":1752371,"loved_count":3,"posted_count":4,"thumb_url":"http:\/\/static-ak.hypem.net\/thumbs\/1\/1752371.png","thumb_url_large":"http:\/\/static-ak.hypem.net\/thumbs\/1\/1752371_320.png","time":230,"description":"Slowdim
        \u2013 Money. That cover up there is exactly right, isn\u2019t it? This is
        FM music from a hazy past, from road trips with your family, car trips with
        the windows down and the sun about to set. It\u2019s not that Slowdim is a
        nostalgia act, it\u2019s just that these ","itunes_link":"http:\/\/hypem.com\/go\/itunes_search\/Slowdim"},"1":{"mediaid":"1azv0","artist":"Apache
        Dropout","title":"I''m So Glad","dateposted":1331834222,"siteid":1,"sitename":"Music
        ( for robots)","posturl":"http:\/\/music.for-robots.com\/?p=3193","postid":1749878,"loved_count":6,"posted_count":5,"thumb_url":"http:\/\/static-ak.hypem.net\/images\/albumart4.gif","thumb_url_large":"http:\/\/static-ak.hypem.net\/images\/blog_images\/1.png","time":156,"description":"Apache
        Dropout \[...]
