---
http_interactions:
- request:
    method: get
    uri: http://hypem.com/playlist/feed/jackca/json
    body:
      encoding: ASCII-8BIT
      string: ! '{"version":"1.1","0":{"mediaid":"1jpj7","artist":"Keenhouse","title":"Skyscrapers","dateposted":1331528249,"siteid":5798,"sitename":"Too
        Many Sebastians","posturl":"http:\/\/toomanysebastians.net\/2012\/03\/12\/keenhouse-skyscrapers\/","postid":1745915,"loved_count":3,"posted_count":1,"thumb_url":"http:\/\/static-ak.hypem.net\/images\/albumart1.gif","thumb_url_large":"http:\/\/static-ak.hypem.net\/images\/blog_images\/5798.png","time":471,"description":"We\u2019ve
        already mentioned how great we think the new Keenhouse EP is. However, the
        man has allowed us a free download to share, that free download is \u201cSkyscrapers\u201d
        and it\u2019s our favourite track on the EP (click video for the win). It\u2019s
        out now and you can gr","itunes_link":"http:\/\/hypem.com\/go\/itunes_search\/Keenhouse"},"1":{"mediaid":"1jphj","artist":"Ben","title":"Kremlin","dateposted":1331524612,"siteid":13271,"sitename":"Silence
        Nogood","posturl":"http:\/\/silencenogood.net\/grifta-kremlin\/","postid":1745884,"loved_count":4,"posted_count":1,"thumb_url":"http:\/\/static-ak.hypem.net\/thumbs\/4\/1745884.png","thumb_url_large":"http:\/\/static-ak.hypem.net\/thumbs\/4\/1745884_320.png","time":364,"description":"Grifta
        - Kremlin (Artwork) Grift[...]
