---
http_interactions:
- request:
    method: get
    uri: http://hypem.com/playlist/feed/jackca/json/1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      x-hacker:
      - Hey, if you're reading this, you should drop us an email at hypem.com/contact,
        maybe we can work together!
    body:
      encoding: ASCII-8BIT
      string: ! '{"version":"1.1","0":{"mediaid":"1jran","artist":"DVBBS","title":"Here
        We Go","dateposted":1331676362,"siteid":11067,"sitename":"EARMILK","posturl":"http:\/\/www.earmilk.com\/2012\/03\/13\/dvbbs-initio-ep-exclusive\/","postid":1748023,"loved_count":1,"posted_count":1,"thumb_url":"http:\/\/static-ak.hypem.net\/images\/albumart0.gif","thumb_url_large":"http:\/\/static-ak.hypem.net\/images\/blog_images\/11067.png","time":217,"description":"It
        is my pleasure to present you with another great Earmilk exclusive: DVBBS''s
        debut EP, INITIO. DVBBS''s electo house sounds are the product of Chris Andre
        and Alex Andre. DVBBS has toured and shared the stage with artists such as
        Tiesto, Steve Aoki, MSTR","itunes_link":"http:\/\/hypem.com\/go\/itunes_search\/DVBBS"},"1":{"mediaid":"1jrap","artist":"DVBBS","title":"Come
        Alive","dateposted":1331676374,"siteid":11067,"sitename":"EARMILK","posturl":"http:\/\/www.earmilk.com\/2012\/03\/13\/dvbbs-initio-ep-exclusive\/","postid":1748023,"loved_count":1,"posted_count":1,"thumb_url":"http:\/\/static-ak.hypem.net\/images\/albumart2.gif","thumb_url_large":"http:\/\/static-ak.hypem.net\/images\/blog_images\/11067.png","time":201,"description":"It
        is my ple[...]
