---
http_interactions:
- request:
    method: get
    uri: http://hypem.com/playlist/latest/fresh/json/1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      x-hacker:
      - Hey, if you're reading this, you should drop us an email at hypem.com/contact,
        maybe we can work together!
      last-modified:
      - Tue, 13 Mar 2012 23:07:52 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"version":"1.1","0":{"mediaid":"1jrb2","artist":"Discodromo","title":"Mercurio
        (The Miracles Club Mercury Rising Remix)","dateposted":1331680072,"siteid":11871,"sitename":"Last
        Gas Station","posturl":"http:\/\/www.lagasta.com\/5406-mix-oclock\/","postid":1748041,"dateposted_first":1331680072,"siteid_first":11871,"sitename_first":"Last
        Gas Station","posturl_first":"http:\/\/www.lagasta.com\/5406-mix-oclock\/","postid_first":1748041,"loved_count":0,"posted_count":1,"thumb_url":"http:\/\/static-ak.hypem.net\/thumbs\/1\/1748041.png","thumb_url_large":"http:\/\/static-ak.hypem.net\/thumbs\/1\/1748041_320.png","time":301,"description":"La.Ga.Sta.\u2019s
        new Mix O\u2019Clock is here: 10 tunes, 54 minutes, many destinations. It
        features some new and old tracks from Prins Thomas, Soul Clap, Pop & Eye,
        Holy Ghost!, Cosmic Kids, Art Department and many more. Shake a leg\u2026
        [6:36] Pollyester: \u201cConcierge ","itunes_link":"http:\/\/hypem.com\/go\/itunes_search\/Discodromo"},"1":{"mediaid":"1jrb1","artist":"Martyn","title":"Hello
        Darkness (Radio Edit)","dateposted":1331680069,"siteid":5248,"sitename":"Prefix
        Magazine","posturl":"http:\/\/www.prefixmag.com\/news\/listen-martyns-new-single-hello-darkness\/63134\/","postid":1748052,"dateposted_first":1331680069,"siteid_first":5248,"sitename_first":"Prefix
        Magazine","posturl_first":"http:\/\/www.prefixmag.com\/news\/listen-martyns-new-single-he[...]
