---
http_interactions:
- request:
    method: get
    uri: http://hypem.com/playlist/people_history/jackca/json
    body:
      encoding: ASCII-8BIT
      string: ! '{"version":"1.1","0":{"mediaid":"1jh0t","artist":"Burial + Four Tet","title":"Nova","dateposted":1331337367,"siteid":6764,"sitename":"We
        All Want Someone To Shout For","posturl":"http:\/\/www.weallwantsomeone.org\/2012\/03\/09\/burial-four-tet-nova\/","postid":1744908,"loved_count":3308,"posted_count":46,"thumb_url":"http:\/\/static-ak.hypem.net\/thumbs\/8\/1744908.png","thumb_url_large":"http:\/\/static-ak.hypem.net\/thumbs\/8\/1744908_320.png","time":355,"description":"Burial
        + Four Tet have teamed up for a new track called \u201cNova\u201d. It brings
        the best of both of their worlds creating a stunning track that breaths emotional
        transport through moments of electronic bliss. It\u2019s more sincere than
        any crap the radio is feeding","dateplayed":1330993220,"itunes_link":"http:\/\/hypem.com\/go\/itunes_search\/Burial%20+%20Four%20Tet"},"1":{"mediaid":"1f5pg","artist":"Grimes","title":"Oblivion","dateposted":1331321781,"siteid":13413,"sitename":"Listen
        Before You Buy","posturl":"http:\/\/www.listenbeforeyoubuy.net\/listen\/listendownload-233-free-mp3s-of-the-best-artists-playing-sxsw-2012\/","postid":1744565,"loved_count":4288,"posted_count":81,"thumb_url":"http:\/\/static-ak.hypem.net\/thumbs\/5\/1744565.png","thumb_url_large":"http:\/\/static-ak.hypem.n[...]
