---
http_interactions:
- request:
    method: get
    uri: http://hypem.com/playlist/people_history/jackca/json/1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      x-hacker:
      - Hey, if you're reading this, you should drop us an email at hypem.com/contact,
        maybe we can work together!
    body:
      encoding: ASCII-8BIT
      string: ! '{"version":"1.1","0":{"mediaid":"1jdmb","artist":"Metronomy","title":"The
        Look (Two Inch Punch''s Shook Shook Refix)","dateposted":1331073217,"siteid":5107,"sitename":"Asian
        Dan","posturl":"http:\/\/www.asianmandan.com\/blog\/2012\/03\/metronomy-x-two-inch-punch\/","postid":1741069,"loved_count":26,"posted_count":2,"thumb_url":"http:\/\/static-ak.hypem.net\/thumbs\/9\/1741069.png","thumb_url_large":"http:\/\/static-ak.hypem.net\/thumbs\/9\/1741069_320.png","time":226,"description":"Today
        Metronomy released an compilation of unreleased remixes of tunes from \u201cThe
        English Riviera\u201d which includes this fantastic remix of \u201cThe Look\u201d
        by Two Inch Punch. Serious vibes.","dateplayed":1331081464,"itunes_link":"http:\/\/hypem.com\/go\/itunes_search\/Metronomy"},"1":{"mediaid":"1jhyj","artist":"The
        Rapture","title":"How Deep Is Your Love? (the Svens \"Let Me Hear That Sax\"
        remix)","dateposted":1331008156,"siteid":5798,"sitename":"Too Many Sebastians","posturl":"http:\/\/toomanysebastians.net\/2012\/03\/06\/the-svens-miles\/","postid":1740023,"loved_count":13,"posted_count":1,"thumb_url":"http:\/\/static-ak.hypem.net\/images\/albumart4.gif","thumb_url_large":"http:\/\/static-ak.hypem.ne[...]
