---
http_interactions:
- request:
    method: get
    uri: http://hypem.com/playlist/people/jackca/json/1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      x-hacker:
      - Hey, if you're reading this, you should drop us an email at hypem.com/contact,
        maybe we can work together!
    body:
      encoding: ASCII-8BIT
      string: ! '{"version":"1.1","0":{"mediaid":"1jgv0","artist":"Tobias R.","title":"Sonnentanz","dateposted":1331076693,"siteid":10759,"sitename":"The
        Mahogany Blog","posturl":"http:\/\/www.themahoganyblog.com\/2012\/03\/listen-klangkarussell\/","postid":1741180,"loved_count":6556,"posted_count":2,"thumb_url":"http:\/\/static-ak.hypem.net\/images\/albumart3.gif","thumb_url_large":"http:\/\/static-ak.hypem.net\/images\/blog_images\/10759.jpg","time":360,"description":"Klangkarussell
        \u2013 Sonnentanz","dateloved":1331154107,"username":"anthony","fullname":"Anthony","itunes_link":"http:\/\/hypem.com\/go\/itunes_search\/Tobias%20R."},"1":{"mediaid":"1dpkn","artist":"Electric
        Guest","title":"Troubleman","dateposted":1330937853,"siteid":19,"sitename":"aurgasm","posturl":"http:\/\/aurgasm.us\/2012\/03\/electric-guest\/","postid":1738850,"loved_count":142,"posted_count":5,"thumb_url":"http:\/\/static-ak.hypem.net\/images\/albumart1.gif","thumb_url_large":"http:\/\/static-ak.hypem.net\/images\/blog_images\/19.jpg","time":532,"description":"indie
        pop \/\/ ecleti[...]
