---
http_interactions:
- request:
    method: get
    uri: http://hypem.com/playlist/people/jackca/json
    body:
      encoding: ASCII-8BIT
      string: ! '{"version":"1.1","0":{"mediaid":"1dpkn","artist":"Electric Guest","title":"Troubleman","dateposted":1330937853,"siteid":19,"sitename":"aurgasm","posturl":"http:\/\/aurgasm.us\/2012\/03\/electric-guest\/","postid":1738850,"loved_count":139,"posted_count":5,"thumb_url":"http:\/\/static-ak.hypem.net\/images\/albumart0.gif","thumb_url_large":"http:\/\/static-ak.hypem.net\/images\/blog_images\/19.jpg","time":532,"description":"indie
        pop \/\/ ecletic Cruising toward widespread status, Asa Taccone & Matthew
        Compton are the scrumptious and charming Electric Guest from LA. A Dangerous
        Mouse is the secret ingredient in their addictive confections; giving us a
        catchy, carefree, Motown-","dateloved":1330993862,"username":"jstreet","fullname":"Justin
        Street","itunes_link":"http:\/\/hypem.com\/go\/itunes_search\/Electric%20Guest"},"1":{"mediaid":"1jhfj","artist":"Ryan
        Power","title":"02 Mondo Rush","dateposted":1330981945,"siteid":13330,"sitename":"no
        fear of pop.","posturl":"http:\/\/nofearofpop.net\/2012\/03\/ryan-power-mondo-rush\/","postid":1739601,"loved_count":8,"posted_count":2,"thumb_url":"http:\/\/static-ak.hypem.net\/thumbs\/1\/1739601.png","thumb_url_large":"http:\/\/static-ak.hypem.net\/thumbs\/1\/1739601_320.png","time":268,"descriptio[...]
