---
http_interactions:
- request:
    method: get
    uri: http://hypem.com/playlist/time/today/json/1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      x-hacker:
      - Hey, if you're reading this, you should drop us an email at hypem.com/contact,
        maybe we can work together!
      last-modified:
      - Wed, 14 Mar 2012 22:15:00 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"version":"1.1","0":{"mediaid":"1js2w","artist":"venice calypso","title":"take
        your shades off","dateposted":1331763300,"siteid":12376,"sitename":"aerial
        noise","posturl":"http:\/\/www.aerialnoise.com\/2012\/03\/14\/venice-calypso-%e2%80%93-take-your-shades-off\/","postid":1749163,"dateposted_first":1331763300,"siteid_first":12376,"sitename_first":"aerial
        noise","posturl_first":"http:\/\/www.aerialnoise.com\/2012\/03\/14\/venice-calypso-%e2%80%93-take-your-shades-off\/","postid_first":1749163,"loved_count":0,"posted_count":1,"thumb_url":"http:\/\/static-ak.hypem.net\/images\/albumart0.gif","thumb_url_large":"http:\/\/static-ak.hypem.net\/images\/blog_images\/12376.png","time":368,"description":"I
        mean.. how many times have we seen people wearing full blown DARK shades \u2013
        in a pitch black, strobe lighted nightclub? Hands up Aerials? 1.. 2.. 3..
        4.. Well.. this is a song that is dedicated to all the jet flyin\u2019, kiss
        stealin\u2019, shade wearin,\u2019 son of ","itunes_link":"http:\/\/hypem.com\/go\/itunes_search\/venice%20calypso"},"1":{"mediaid":"1js2s","artist":"","title":"Das
        geografische T\u00e4terprofil","dateposted":1331763216,"siteid":154,"sitename":"swens
        blog","posturl":"http:\/\/swen.antville.org\/stories\/2112923\/","postid":1749138,"dateposted_first":1331763216,"siteid_first":154,"sitename_first":"swens
        blog","posturl_first":"http:\/\/swen.antville.org\/stories\/2112923\/","postid_first":1749138,"loved_count":0,"posted_count":1,"[...]
