---
http_interactions:
- request:
    method: get
    uri: http://hypem.com/playlist/latest/all/json/1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      x-hacker:
      - Hey, if you're reading this, you should drop us an email at hypem.com/contact,
        maybe we can work together!
      last-modified:
      - Fri, 01 Jun 2012 03:30:40 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"version":"1.1","0":{"mediaid":"1mhhn","artist":"","title":"","dateposted":1338521440,"siteid":2293,"sitename":"NEVVER","posturl":"http:\/\/www.nevver.com\/2012\/06\/gary-numan-films.html","postid":1827187,"dateposted_first":1338521440,"siteid_first":2293,"sitename_first":"NEVVER","posturl_first":"http:\/\/www.nevver.com\/2012\/06\/gary-numan-films.html","postid_first":1827187,"loved_count":1,"posted_count":1,"thumb_url":"http:\/\/static-ak.hypem.net\/thumbs\/7\/1827187.png","thumb_url_large":"http:\/\/static-ak.hypem.net\/thumbs\/7\/1827187_320.png","time":243,"description":"
        Gary Numan, \"Films\"","itunes_link":"http:\/\/hypem.com\/go\/itunes_search\/"},"1":{"mediaid":"1mhhm","artist":"Katie
        Kate","title":"Houses","dateposted":1338521431,"siteid":1365,"sitename":"Faronheit","posturl":"http:\/\/faronheit.com\/2012\/05\/pick-your-poison-thursday-5-31-12\/","postid":1827185,"dateposted_first":1338521431,"siteid_first":1365,"sitename_first":"Faronheit","posturl_first":"http:\/\/faronheit.com\/2012\/05\/pick-your-poison-thursday-5-31-12\/","postid_first":1827185,"loved_count":1,"posted_count":1,"thu[...]
