---
http_interactions:
- request:
    method: get
    uri: http://hypem.com/playlist/loved/jackca/json/1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      x-hacker:
      - Hey, if you're reading this, you should drop us an email at hypem.com/contact,
        maybe we can work together!
    body:
      encoding: ASCII-8BIT
      string: ! '{"version":"1.1","0":{"mediaid":"1jmj1","artist":"Alpine","title":"Hands
        (Goldroom Remix)","dateposted":1331657329,"siteid":15203,"sitename":"The Fader","posturl":"http:\/\/www.thefader.com\/2012\/03\/13\/stream-alpine-hands-goldroom-remix\/","postid":1747587,"loved_count":1328,"posted_count":11,"thumb_url":"http:\/\/static-ak.hypem.net\/images\/albumart2.gif","thumb_url_large":"http:\/\/static-ak.hypem.net\/images\/blog_images\/15203.png","time":350,"description":"alpine
        Melbourne six-piece Alpine\u2019s boredly erotic \u201cHands\u201d gets a
        swimming house remix by the talented, big-room-minded LA producer Goldroom,
        recasting the song perfectly for spring, with sunny breaks of hand drums,
        blissful outer layer-shedding string se","dateloved":1331598956,"itunes_link":"http:\/\/hypem.com\/go\/itunes_search\/Alpine"},"1":{"mediaid":"1jpbe","artist":"Wild
        Child","title":"Tale of You & Me","dateposted":1331665939,"siteid":16116,"sitename":"the
        untz and the indie","posturl":"http:\/\/theuntzandtheindie.com\/2012\/03\/13\/young-wild-child\/","postid":1747766,"loved_count":3695,"posted_count":3,"thumb_url":"http:\/\/static-ak.hypem.net\/images\/albumart3.gif","thumb_url_large":"http:\/\/static-ak.hypem.net\/images\/blog_images\/16116.png","time":340[...]
