---
http_interactions:
- request:
    method: get
    uri: http://hypem.com/playlist/loved/jackca/json
    body:
      encoding: ASCII-8BIT
      string: ! '{"version":"1.1","0":{"mediaid":"1jjjm","artist":"Gemini Club","title":"Can''t
        Believe You Said That","dateposted":1331510164,"siteid":5626,"sitename":"Music
        Under Fire","posturl":"http:\/\/musicunderfire.com\/2012\/03\/weekend-burn-gemini-club-cant-believe-you-said-that.html","postid":1745805,"loved_count":1175,"posted_count":8,"thumb_url":"http:\/\/static-ak.hypem.net\/thumbs\/5\/1745805.png","thumb_url_large":"http:\/\/static-ak.hypem.net\/thumbs\/5\/1745805_320.png","time":230,"description":"Oh
        snap! Gemini Club, the group who is apparently taking over my music library
        one track at a time, dropped another gem this past week, \u201cCan\u2019t
        Believe You Said That\u201d. I personally like this track even better than
        \u201cBy Surprise\u201d, the song the trio released ","dateloved":1331509865,"itunes_link":"http:\/\/hypem.com\/go\/itunes_search\/Gemini%20Club"},"1":{"mediaid":"1jn10","artist":"Santigold","title":"Disparate
        Youth (Switch Remix)","dateposted":1331423836,"siteid":12387,"sitename":"TILT","posturl":"http:\/\/tiltla.blogspot.com\/2012\/03\/santigold-disparate-youth-single-switch.html","postid":1745405,"loved_count":52,"posted_count":2,"thumb_url":"http:\/\/static-ak.hypem.net\/thumbs\/5\/1745405.png","thumb_url_large":"http:\/\/static-ak.hypem.net\/thumbs\/5\/1745405_320.png","t[...]
