---
http_interactions:
- request:
    method: get
    uri: http://hypem.com/playlist/obsessed/jackca/json/1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      x-hacker:
      - Hey, if you're reading this, you should drop us an email at hypem.com/contact,
        maybe we can work together!
    body:
      encoding: ASCII-8BIT
      string: ! '{"version":"1.1","0":{"mediaid":"1j7x0","artist":"TOPS","title":"Double
        Vision","dateposted":1329865203,"siteid":13435,"sitename":"I.am.No.Superman","posturl":"http:\/\/iamnosuperman.com\/musik-neuer-song\/tops-double-vision\/","postid":1727023,"loved_count":47,"posted_count":3,"thumb_url":"http:\/\/static-ak.hypem.net\/images\/albumart0.gif","thumb_url_large":"http:\/\/static-ak.hypem.net\/images\/blog_images\/13435.png","time":398,"description":"Earlier
        that month I gave you a shout about Montreal\u2019s four-piece TOPS. I\u2019m
        still enchanted by their melodic pop songs. Today the by Grimes overtaken
        Gorilla vs Bear blog premiered a new song. \u201cDouble Vision\u201d is more
        downbeat and very smooth, I really lik","dateloved":1331526214,"plays":15,"itunes_link":"http:\/\/hypem.com\/go\/itunes_search\/TOPS"},"1":{"mediaid":"1j0bg","artist":"Chromatics","title":"Into
        The Black (Neil Young cover)","dateposted":1331273386,"siteid":6825,"sitename":"CHROMEMUSIC","posturl":"http:\/\/www.chromemusic.de\/music\/yum-yum-top-tunes-march-2\/","postid":1743950,"loved_count":1306,"posted_count":33,"thumb_url":"http:\/\/static-ak.hypem.net\/thumbs\/0\/1743950.png","thumb_url_large":"http:\/\/static-ak.hypem.net\/thumbs\/0\/1743950_320.png","time":323,"descrip[...]
