---
http_interactions:
- request:
    method: get
    uri: http://hypem.com/playlist/popular/3day/json/1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      x-hacker:
      - Hey, if you're reading this, you should drop us an email at hypem.com/contact,
        maybe we can work together!
      last-modified:
      - Tue, 13 Mar 2012 23:20:03 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"version":"1.1","0":{"mediaid":"1jphx","artist":"Swedish House Mafia","title":"Greyhound
        (Original Mix)","dateposted":1331616478,"siteid":12526,"sitename":"Vacay Wave","posturl":"http:\/\/www.vacayvitamins.com\/house\/swedish-house-mafia-greyhound\/","postid":1747104,"dateposted_first":1331525396,"siteid_first":14384,"sitename_first":"ACE","posturl_first":"http:\/\/klubbace.se\/2012\/03\/swedish-house-mafias-nya-singel-greyhound\/","postid_first":1745898,"loved_count":3704,"posted_count":3,"thumb_url":"http:\/\/static-ak.hypem.net\/thumbs\/4\/1747104.png","thumb_url_large":"http:\/\/static-ak.hypem.net\/thumbs\/4\/1747104_320.png","time":411,"description":"electronic
        dance music blog Alongside Absolut Vodka, SHM just released a new single entitled
        \u201cGreyhound\u201d. It\u2019s a cool combination of a clubby-Ibiza type
        atmosphere and Daft Punk chords singing behind it. The music videos even cooler,
        having the three of t","itunes_link":"http:\/\/hypem.com\/go\/itunes_search\/Swedish%20House%20Mafia"},"1":{"mediaid":"1jpbe","artist":"Wild
        Child","title":"Tale of You & Me","dateposted":1331665939,"siteid":16116,"sitename":"the
        untz and the indie","posturl":"http:\/\/theuntzandtheindie.com\/2012\/03\/13\/young-wild-child\/","postid":1747766,"dateposted_first":1331496063,"siteid_first":15604,"sitename_first":"Earplugs
        Not Included","posturl_first":"http:\/\/earplugsnotincluded.com\/wild-child-someone-else\/[...]
