---
http_interactions:
- request:
    method: get
    uri: http://hypem.com/playlist/popular//json
    body:
      encoding: ASCII-8BIT
      string: ! '{"version":"1.1","0":{"mediaid":"1jny9","artist":"C\u0153ur De Pirate","title":"Golden
        Baby","dateposted":1331395804,"siteid":14526,"sitename":"Pop Labyrinth","posturl":"http:\/\/poplabyrinth.wordpress.com\/2012\/03\/10\/new-video-coeur-de-pirate-golden-baby\/","postid":1745187,"dateposted_first":1331395804,"siteid_first":14526,"sitename_first":"Pop
        Labyrinth","posturl_first":"http:\/\/poplabyrinth.wordpress.com\/2012\/03\/10\/new-video-coeur-de-pirate-golden-baby\/","postid_first":1745187,"loved_count":1908,"posted_count":1,"thumb_url":"http:\/\/static-ak.hypem.net\/thumbs\/7\/1745187.png","thumb_url_large":"http:\/\/static-ak.hypem.net\/thumbs\/7\/1745187_320.png","time":187,"description":"I
        stumbled upon C\u0153ur De Pirate\u2018s music in passing before, but the
        Canadian chanteuse\u2019s new single \u201cGolden Baby\u201d is possibly my
        new favorite song of hers. It is sleek and lush retro-pop, set to a cool music
        video that\u2019s like Teenage Dream gone supernatural","itunes_link":"http:\/\/hypem.com\/go\/itunes_search\/C\u0153ur%20De%20Pirate"},"1":{"mediaid":"1jmz2","artist":"The
        Notorious B.I.G.","title":"I Got a Story to Tell","dateposted":1331294350,"siteid":2006,"sitename":"The
        Passion of the Weiss","posturl":"http:\/\/passionweiss.com\/2012\/03\/09\/a-story-to-tell-biggie-smalls-and-narrative-i-got-a-story-to-tell\/","postid":1744114,"dateposted_first":1331294350,"siteid_first":2006,"sitename_first":"The
        Passion of the Weiss","posturl_first"[...]
