---
http_interactions:
- request:
    method: get
    uri: http://hypem.com/api/get_profile?username=jackca
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript; charset=UTF-8
      x-hacker:
      - Hey, if you're reading this, you should drop us an email at hypem.com/contact,
        maybe we can work together!
    body:
      encoding: ASCII-8BIT
      string: ! '{"username":"JackCA","profile_url":"http:\/\/hypem.com\/JackCA","fullname":"Jack
        Anderson","twitter_username":"janderson","userpic":"http:\/\/faces-s3.hypem.com\/123376863051420_75.png","joined_ts":1238371615,"favorites_count":{"user":4,"item":430,"site":32,"query":15,"followers":1},"location":"San
        Francisco, CA, US"}'
  recorded_at: Sat, 24 Mar 2012 22:07:39 GMT
recorded_with: VCR 2.0.0
